* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Readex Pro";
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-around;
  margin: 25px;
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  list-style: none;
}

.navigation ul li a {
  color: black;
  text-decoration: none;
}

.icons__header {
  display: flex;
  gap: 20px;
}

main {
  margin-left: 8%;
  margin-right: 8%;
}

.grey {
  background-color: #dce5e2;
  border-radius: 32px;
  margin-top: 4%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.left_side {
  display: flex;
  flex-direction: column;
}

.left_side h2 {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

.iphone img {
  width: 540px;
  height: 500px;
  margin-bottom: -4px;
}

@media only screen and (max-width: 1315px) {
  .iphone img {
    width: 400px;
    height: 360px;
  }
}

.button {
  border: 1px solid #000000;
  border-radius: 50px;
  height: 40px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_side p {
  margin-bottom: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.text_center_1 {
  text-align: center;
  margin-top: 5%;
}

.text_center_1 h1 {
  margin-bottom: 10px;

  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
}

.text_center p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.blocks {
  display: flex;
  flex-direction: column;
}
.containers {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-top: 4%;
}

.backgr_item_1 {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.item {
  border-radius: 0px;
  background: #ffffff;
  -webkit-box-shadow: 1px 3px 36px 12px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 3px 36px 12px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 3px 36px 12px rgba(34, 60, 80, 0.2);
}

.item_1 {
  display: flex;
  flex-direction: column;
  text-align: end;
}
.item_1 span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;

  padding-right: 25px;
}
.item_1 h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 38px;
  padding-right: 25px;
}

.item_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item_2 span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
.item_2 h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
}

.item_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.item_3 span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.item_3 h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  text-align: center;
}
.item_4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.item_4 span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.item_4 h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

.item4_text {
  text-align: end;
}

.item_1 img {
  width: 400px;
  padding-left: 25px;
  padding-right: 20px;
}

.item_2 img {
  width: 290px;
  margin-bottom: 25px;
  padding-left: 10px;
}

.item_3 img {
  width: 290px;
  margin-top: 30px;
}

.item_4 img {
  width: 250px;
  height: 190px;
}

